




.body{
  /* background-color: blue; */
  position: relative;
}

.main_section{
  float: right;
  position: relative;
  height: 375px;
  width: 771px;
  background-image: url("./Pictures/back-smalk.png");
}



.ideas_list{
  position: absolute;
  top: 30px;
  left: 55px;
  background-color: aliceblue;
  width: 400px;
  height: 300px;
}

.textarias{
  position: absolute;
  top:30px;
  right: 55px;
}


.centr{
  margin: 0 auto;
  padding-left: 60px;
}


.truck{
  position: relative; 
  top: 320px; 
  height: 300px;
  width: 50x;
  background-image: url("./Pictures/mobel.png");
  background-repeat:no-repeat;
}


.icon{
  display: inline;
  float: right;
}


.transpItem{
  height: 45px;
}

